p {
  font-family: Lato;
  text-align: center;
  font-weight: bold;
}
input {
  margin: 5px;
}
button {
  margin: 5px;
}
.item-name {
  font-weight: bold;
  text-transform: capitalize;
  margin: 2px;
}
span {
  margin: 5px;
}
tr {
  text-transform: capitalize;
}
.inline {
  display: inline;
  width: 300px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
label {
  margin-right: 5px;
}
